<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsm.mapper.IncomeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tsm.entity.Income">
        <id column="INCOME_ID" property="incomeId" />
        <result column="INCOME_STATE" property="incomeState" />
        <result column="PAYMONEY_ID" property="paymoneyId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INCOME_ID, INCOME_STATE, PAYMONEY_ID, STAFF_ID, DELETED
    </sql>

</mapper>
