<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsm.mapper.PayapprovalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tsm.entity.Payapproval">
        <id column="PAYAPPROVAL_ID" property="payapprovalId" />
        <result column="PAYAPPROVAL_STATE" property="payapprovalState" />
        <result column="EXPENDITURE_ID" property="expenditureId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PAYAPPROVAL_ID, PAYAPPROVAL_STATE, EXPENDITURE_ID, STAFF_ID, DELETED
    </sql>

</mapper>
