<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsm.mapper.PositionNavMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tsm.entity.PositionNav">
        <id column="POSITIONMENU_ID" property="positionmenuId" />
        <result column="NAV_ID" property="navId" />
        <result column="POSITION_ID" property="positionId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        POSITIONMENU_ID, MENU_ID, POSITION, DELETED
    </sql>

</mapper>
