<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsm.mapper.ReceivingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tsm.entity.Receiving">
        <id column="RECEIVINGS_ID" property="receivingsId" />
        <result column="RECEIVINGS_TITLE" property="receivingsTitle" />
        <result column="RECEIVINGS_CONTENT" property="receivingsContent" />
        <result column="RECEIVINGS_DATE" property="receivingsDate" />
        <result column="RECEIVINGS_STATE" property="receivingsState" />
        <result column="STAFF_NAME1" property="staffName1" />
        <result column="STAFF_NAME2" property="staffName2" />
        <result column="RECEIVING_DELETED" property="receivingDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RECEIVING_ID, RECEIVING_TITLE, RECEIVING_CONTENT, RECEIVING_DATE, RECEIVING_STATE, STAFF_ID1, STAFF_ID2, DELETED
    </sql>

</mapper>
