<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsm.mapper.SendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tsm.entity.Send">
        <id column="SEND_ID" property="sendId" />
        <result column="SEND_TITLE" property="sendTitle" />
        <result column="SEND_CONTENT" property="sendContent" />
        <result column="SEND_DATE" property="sendDate" />
        <result column="SENDS_STATE" property="sendsState"/>
        <result column="STAFF_NAME1" property="staffName1" />
        <result column="STAFF_NAME2" property="staffName2" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEND_ID, SEND_TITLE, SEND_CONTENT, SEND_DATE, SENDS_STATE, STAFF_NAME1, STAFF_NAME2, DELETED
    </sql>

</mapper>
