<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsm.mapper.SendandreceivingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tsm.entity.Sendandreceiving">
        <id column="SANDR_ID" property="sandrId" />
        <result column="STAFFNAME2" property="staffName2" />
        <result column="SANDR_STATE" property="sandrState" />
        <result column="SANDR_DATE" property="sandrDate" />
        <result column="SEND_ID" property="sendId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SANDR_ID, STAFFNAME2, SANDR_STATE, SANDR_DATE, SEND_ID
    </sql>

</mapper>
